@charset "UTF-8";
:root {
    --font-color: rgb(0, 0, 0);
    --background-home: rgb(224, 226, 226);
    --background-panel: rgb(255, 255, 255);
    --hover-color: rgb(109, 175, 206);
    --button-border: rgb(109, 175, 206);
}

body {
    color: var(--font-color);
    font-family: Helvetica;
    background-color: var(--background-home);
    overflow: hidden;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.footer {
    padding-bottom: 100px;
}

/* Navbar superior -----------------------------------------------*/

.navbar {
    display: flex;
    flex-direction: row;
    background-color: var(--background-panel);
    position: fixed;
    top: 0px;
    height: 8%;
    width: 100%;
    border-width: 0 0 1px 0;
    border-style: solid;
    display: none;
}

.navbar img {
    height: 6vh;
    margin: 1vh;
}

.navbar button {
    border-style: none;
    background-color: var(--background-panel);
}

.navbar button:hover{
    background-color: var(--hover-color);
}
.navbar button i {
    font-size: 30px;
}

/* Menu de la izquierda------------------------------------------ */

.column-menu-home {
    display: flex;
    flex-direction: column;
    max-width: 12vw;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0vw;
    background-color: var(--background-panel);
/*     transition: left 0.5s;
 */}


.show-menu{
    max-width: 20vw;
}

.hide-menu{
    max-width: 0;
}

.photo-home img {
    width: 50%;
    margin: 10% 25% 0 25%;
}

.photo-home img:hover {
    background-color: var(--hover-color);
}

.title-home {
    font-family: 'Verdana';
    font-size: 60%;
    text-align: center;
}

.menu-home {
    font-family: 'Segoe UI';
    width: 100%;
}

ul {
    list-style-type: none;
    font-size: 110%;
    margin-left: 0px;
    padding-left: 0px;
}

.menu-home li {
    text-align: center;
    padding: 10% 0 10% 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgb(189, 189, 189);
}

.menu-home li:hover {
    border-color: var(--hover-color);
    border-width: 0 5px 1px 0;
    border-style: solid;
}

/* Panel de contenido--------------------------------------------------------- */

.content-col {
    display: flex;
    flex-direction: column;
    margin-left: 13vw;
    background-color: var(--background-panel);
    top: 0px;
    height: 100vh;
    width: 87vw;
    overflow-y: scroll;
}

/* Panel "Sobre mi" -------*/

.photo-col {
    width: 40%;
}

.photo-col img {
    width: 100%;
}

.description-col {
    width: 50%;
}

.description-col h4 {
    padding: 5% 10% 0 20%;
    color: gray;
}

.description-col h1 {
    padding: 0 10% 0 20%;
}

.description-col p {
    text-align: justify;
    padding: 0 10% 0 20%;
    line-height: 30px;
}

.description-col button {
    margin-left: 20%;
    padding: 10px 20px 10px 20px;
    border-color: var(--button-border);
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    font-size: 15px;
}

.title-2 {
    margin-left: 5%;
    margin-right: 5%;
    border-style: solid;
    border-width: 0 0 1px 0;
}

.col-50 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 2%;
    padding-right: 5%;
}

.col-50 p {
    line-height: 30px;
}

.interest-col {
    margin-left: 5%;
    margin-right: 5%;
}

.row i {
    font-size: 50px;
    color: gray;
    margin: 2% 0 0 0%;
}

/* Responsive "Sobre mi"--------- */

@media only screen and (max-width: 900px) {
    .column-menu-home {
        max-width: 20vw;
        left: -30vw;
        top: 8%;
        overflow: hidden;
    }
    .content-col {
        margin-left: 0;
        margin-top: 8vh;
        width: 100vw;
    }
    .navbar {
        display: block;
    }
}

@media only screen and (max-width: 700px) {
    .column-menu-home {
        max-width: 30vw;
        left: -30vw;
        top: 8%;
        overflow: hidden;
    }
}